.bg {
  position: relative;
  padding: 80px 0;

  &.bg-white {
    background-color: $white;
  }

  &.bg-color {
    background-color: $sect-color;
  }

  .inner-col {
    padding: 15px;

    .sect-header {
      font-size: 54px;
      font-weight: bold;
      line-height: 70px;
      color: $home-title;
      margin-bottom: 30px;
    }

    .sect-text {
      font-size: 30px;
      font-weight: 600;
      line-height: 40px;
      color: $home-text;
      margin-bottom: 30px;
    }

    .btn {
      border-radius: 12px;
    }

    .btn-bcolor {
      background-color: $primary;
      color: $white;
      font-weight: 600;
      border: 2px solid $primary;
      margin-right: 10px;

      &:hover, &:focus {
        background-color: $btn-bcolor;
        border-color: $btn-bcolor;
      }
    }

    .btn-bwhite {
      background-color: $white;
      color: $primary;
      font-weight: 600;
      border: 2px solid $primary;

      &:hover, &:focus {
        color: $white;
        background-color: $primary;
      }
    }

    .sect-link {
      margin: 40px 0 0 5px; 

      .link {
        font-size: 16px;
        font-weight: 600;

        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }

    .col-header {
      margin: 30px 0;
      font-size: 24px;
      font-weight: bold;
      color: $home-title;
    }
    
    .col-text {
      font-size: 18px;
      font-weight: 600;
      color: $home-text;
    }
  }

  .tab-header {
    font-size: 36px;
    font-weight: 700;
    color: $home-title;
    margin: 30px 0;
  }

  .tab-text {
    font-size: 18px;
    font-weight: 600;
    color: $home-text;
  }

  .nav-custom {
    margin-top: 60px;
    margin-bottom: 30px;

    li {
      padding: 15px 0;

      a {
        padding: 0 30px;
        border-left: 3px solid transparent;

        .inner-theader {
          font-size: 22px;
          font-weight: 700;
          color: $home-title;
          margin: 0 0 15px 0;
        }
  
        .inner-ttext {
          font-size: 18px;
          font-weight: 600;
          color: $home-text;
          line-height: 25px;
        }
      }

      &.active {

        a {
          color: $home-text;
          background: transparent;
          border-left-color: $primary;
          border-radius: 0;
          padding: 0 30px;
        }
      }

    }
  }

  .app-store {

    .img-appstore {
      width: 35%;
    }
  }

  .story-link {
    margin-top: 20px;
    color: $home-text;

    .link {
      color: $home-text;
      
      &:hover, &:focus {
        color: $primary;
      }
    }
  }

  .img-center {
    margin: 0 auto;
  }

  .last-sect {
    position: relative;
    margin-bottom: 50px;

    .header {
      font-size: 36px;
      font-weight: 700;
      color: $home-title;
      margin: 30px 0;
    }

    .text {
      font-size: 18px;
      font-weight: 600;
      color: $home-text;
      margin-bottom: 30px;
    }

    .btn-git {
      background-color: $primary;
      color: $white;
      font-weight: 600;
      border-radius: 12px;
      border-color: $primary;

      &:hover, &:focus {
        background-color: $btn-bcolor;
      }
    }
  }

  &.more-padding {
    padding: 80px 0 190px 0;

    .img-wrap {
      position: relative;
      display: block;
  
      .img-overlay {
        position: absolute;
        top: 20px;
        right: 0;
        left: 0;
        bottom: 0;
        height: 170px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}