.single-post {
  
  .main-content {
    margin: 20px 0;

    .content {
      background-color: $white;
      border-radius: 6px;
      padding: 30px 50px;

      .story-title {
        font-size: 38px;
        font-weight: bold;
        color: $gray-700;
        margin: 0 0 25px 0;
      }

      .story-text {
        font-size: 20px;
        font-weight: 600;
        color: $gray-700;
        opacity: 0.8;
        margin-bottom: 30px;
      }

      .img-radius {
        border-radius: 10px;
        margin-bottom: 30px;
      }

      .more-margin {
        margin-bottom: 30px;
      }

      .stories {
        padding: 0 20px;
        margin-bottom: 40px;

        .story {

          .sub-header {
            margin: 25px 0 10px 0;
            color: $gray-700;
            font-size: 22px;
            font-weight: 600;
          }

          .sub-text {
            color: $gray-600;
            font-size: 16px;
            font-weight: 600;
          }

          &:hover, &:focus {
            text-decoration: none;
          }
        }
      }
    }
  }

  .suggest-bar {
    margin: 20px 0;
    padding-left: 5px;

    .suggestion {
      background-color: $white;
      padding: 30px 20px;
      width: 100%;
      border-radius: 6px;

      .about-sidebar {
        margin-bottom: 30px;

        .about-sideheader {
          font-size: 32px;
          font-weight: 700;
          margin: 0 0 20px 0;
        }
        
        .about-sidetext {
          font-size: 16px;
          font-weight: 600;
          color: $home-text;
        }
  
        .btn-join {
          font-weight: 700;
          color: $primary;
          border: 2px solid $primary;
          border-radius: 8px;
  
          &:hover, &:focus {
            background-color: $primary;
            color: $white;
          }
        }
      }

      .suggest-header {
        font-size: 22px;
        font-weight: 600;
        color: $gray-800;
        margin: 0 0 25px 0;
        padding: 5px 0 10px 0;
        border-bottom: 2px solid $gray-400;
      }
  
      .suggest-menu {
  
        .suggest-item {
          position: relative;
          margin-bottom: 15px;
  
          .suggest-inner {
  
            .suggest-thumb {
              position: relative;
              width: 90px;
              height: 60px;
              float: left;
              margin-right: 15px;
              display: block;
              background-color: #dfdfdf;
              border-radius: 6px;
  
              .thumb-overlay {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                border-radius: 6px;
                background-position: center center;
                background-repeat: no-repeat;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
              }
            }
  
            .suggest-description {
              position: relative;
              color: $gray-700;
              overflow: hidden;
              padding: 0;
  
              .suggest-title {
                position: relative;
                display: block;
                font-size: 16px;
                font-weight: 600;
                line-height: 1.6;
                overflow: hidden;
                height: 44px;
                margin: 0;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
  
              .suggest-type {
                position: absolute;
                top: 25px;
                right: 0;
                bottom: 0;
                left: 0;
                margin: 0;
                color: $gray-400;

                .fa {
                  margin-right: 5px;
                }
              }
            }

            &:hover, &:focus {
              text-decoration: none;

              .suggest-title {
                color: $primary;
              }
            }
          }
        }
      }
    }
  }
}

.about {

  .about-header {

    .about-title {
      font-size: 38px;
      font-weight: bold;
      color: $home-title;
    }
  }
}