// Variables

$white: #fff !default;
$whiter: #c3c2c2 !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #8E51C7 !default;
$warning: #fbc658 !default;
$success: #6bd098 !default;
$danger: #ef8157 !default;
$info: #51cbce !default;
$box-shadow: rgba(0,0,0,.15);
$sidebar-bg: #343a40;
$main-wrapper: #f4f3ef;
$border-dd: #dddddd;
$border-42:#4DB2EC;
$shadow-bg: #dfdfdf;
$homepage-bg: #eaeaea;
$sect-color: #fbfbfd;

$facebook: #485a96;
$twitter: #5da8dc;
$instagram: #d82d7e;
$google-plus: #d81313;

$home-title: #463853;
$home-text: #998DA0;
$btn-bcolor: #8847c4;